/* app.component.css */

body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('/sampolTech/src/assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: aqua;
}

.main-content {
  height: 100%;
}
